<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEBRE NEGEST - Gubae Bet</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="container">
        <table id="priests-table">
          <thead>
            <tr>
              <th>ስም</th>
              <th>ስልክ ቁጥር</th>
              <th>እዴሜ </th>
              <th>አገልግሎት </th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
    
      </div>
</body>
</html>