<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEBRE NEGEST - Gubae Bet</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<style>


</style>
<body>
  <div class="certificate">
    <div class="header">
      <h1>የእግዚአብሔር ቤተ ክርስቲያን</h1>
      <h1>MARRIAGE CERTIFICATE</h1>
    </div>

    <div class="photos">
      <div class="photo" id="husband-photo"></div>
      <div class="photo" id="wife-photo"></div>
    </div>

    <div class="info-section">
      <div class="info">
        <p><strong>Name of Husband:</strong> <span>Senay Abate Niguse</span></p>
        <p><strong>Christian Name:</strong> <span>Fikre Selassie</span></p>
        <p><strong>Date of Birth:</strong> <span>14-08-1989</span></p>
        <p><strong>Place of Birth:</strong> <span>Debre Yemitro</span></p>
        <p><strong>Residence:</strong> <span>Ambesamie</span></p>
        <p><strong>Nationality:</strong> <span>Ethiopian</span></p>
        <p><strong>Father's Name:</strong> <span>Abate Niguse</span></p>
        <p><strong>Mother's Name:</strong> <span>Adane Wondie</span></p>
      </div>

      <div class="info">
        <p><strong>Name of Wife:</strong> <span>Enatnesh Worku</span></p>
        <p><strong>Christian Name:</strong> <span>Wolette Aregawi</span></p>
        <p><strong>Date of Birth:</strong> <span>15-01-1992</span></p>
        <p><strong>Place of Birth:</strong> <span>Ambesamie</span></p>
        <p><strong>Residence:</strong> <span>Ambesamie</span></p>
        <p><strong>Nationality:</strong> <span>Ethiopian</span></p>
        <p><strong>Father's Name:</strong> <span>Markos Getu Tassew</span></p>
        <p><strong>Mother's Name:</strong> <span>Ayelech Gela</span></p>
      </div>
    </div>

    <div class="center-divider">"በእግዚአብሔር ስም ተቀላቀሉ"</div>

    <div class="footer">
      <p><strong>Marriage Date:</strong> 11-08-2015 EC</p>
      <p><strong>Place:</strong> Debre Yemitro Church</p>
    </div>

    <div class="signature-section">
      <div class="signature">
        <p>Husband Signature</p>
        <br><br>
      </div>
      <div class="signature">
        <p>Priest</p>
        <br><br>
      </div>
      <div class="signature">
        <p>Wife Signature</p>
        <br><br>
      </div>
    </div>
  </div>
</body>
</html>

