<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../dist/styles.css">
</head>

<body>
  <div class="main-div">
    <!-- MIDDLE LEFT CONTAINER -->
    <div class="main-left-div">
      <div class="user-cards">
        <div class="user-card priest-card" id="priest-card">
          <div class="user-header">
            <div class="user-date">2017/18</div>
            <div class="user-more">...</div>
          </div>
          <p class="user-total">123</p>
          <p class="user-title">ቀሳዉስት</p>
        </div>
        <div class="user-card deacon-card" id="deacon-card">
          <div class="user-header">
            <div class="user-date">2017/18</div>
            <div class="user-more">...</div>
          </div>
          <p class="user-total">323</p>
          <p class="user-title">ዲያቆናት</p>
        </div>
        <div class="user-card monk-card" id="monk-card">
          <div class="user-header">
            <div class="user-date">2017/18</div>
            <div class="user-more">...</div>
          </div>
          <p class="user-total">5</p>
          <p class="user-title">መነኮሳት(ቆሞሳት)</p>
        </div>
        <div class="user-card servant-card" id="confess-card">
          <div class="user-header">
            <div class="user-date">2017/18</div>
            <div class="user-more">...</div>
          </div>
          <p class="user-total">6,123</p>
          <p class="user-title">ምዕመናን (ንስሓ አባት ያላችዉ)</p>
        </div>
      </div>
    </div>

</body>
</html>