<!DOCTYPE html>
<html>
<head>
  <title>DEBRE NEGEST - Dashboard</title>
  <link rel="stylesheet" href="../css/app.css" />
  <link rel="shortcut icon" href="../debre_negest.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../dist/styles.css">
</head>

<body>
  <div class="main dark:bg-gray-800">
    <!-- SIDE BAR-->
    <div class="side-bar dark:bg-gray-800">
      <!-- LOGO-->
      <a class="logo" href="#">
        <img src="../../assets/images/debre_negest.png" alt="Loogo" class="logo-img">
        <span class="logo-name">ደብረ ነገስት</span>
      </a>
      <div class="sidebar-menu-scroll">
        <div class="menu">
          <span class="menu-header">Menu</span>
          <!-- ዋና/መግቢያ-->
          <div class="menu-items">
            <a class="menu-item" href="#" id="menu-home">
              <img class="menu-img" src="../../assets/images/home.png" alt="dart " />
              <span class="menu-title">ዋና</span>
            </a>
          </div>
          <!-- ካህናት-->
          <div class="menu-items menu-item-dropdown">
            <a class="menu-item" id="menu-preist">
              <img class="menu-img" src="../../assets/images/preist.png" alt="dart " />
              <span class="menu-title">ካህናት</span>
            </a>
          </div>
          <!-- ሰባካ ጉባኤ-->
          <div class="menu-items">
            <a class="menu-item" href="#" id="menu-sebeka-gubae">
              <img class="menu-img" src="../../assets/images/parent.png" alt="dart " />
              <span class="menu-title">ምዕመናን</span>
            </a>
          </div>
          <!-- ሰንበት ት/ቤት-->
          <div class="menu-items">
            <a class="menu-item" href="#" id="menu-senbet-timhirt-bet">
              <img class="menu-img" src="../../assets/images/senbet-timhirt-bet.jpg" alt="dart " />
              <span class="menu-title">ሰ/ት/ቤት</span>
            </a>
          </div>
          <!-- ንዋየ ቅዱሳት-->
          <div class="menu-items">
            <a class="menu-item" href="#" id="menu-nwaye-qdusan">
              <img class="menu-img" src="../../assets/images/mahiber-qdusan.jpg" alt="dart " />
              <span class="menu-title">ንዋየ ቅዱሳት</span>
            </a>
          </div>

          <!-- ጉባኤ ቤት-->
          <div class="menu-items">
            <a class="menu-item" href="#" id="menu-gubae-bet">
              <img class="menu-img" src="../../assets/images/parent.png" alt="dart " />
              <span class="menu-title">ጋብቻ</span>
            </a>
          </div>

          <!-- ልዩ ልዩ-->
          <div class="menu-items">
            <a class="menu-item" href="#" id="menu-others">
              <img class="menu-img" src="../../assets/images/attendance.png" alt="dart " />
              <span class="menu-title">ክርስትና</span>
            </a>
          </div>
          <span class="menu-header">Other</span>
          <!-- መለያ-->
          <div class="menu-items">
            <a class="menu-item" href="#" id="menu-profile">
              <img class="menu-img" src="../../assets/images/profile.png" alt="dart " />
              <span class="menu-title">መለያ</span>
            </a>
          </div>
          <!-- ማስተካክያ -->
          <div class="menu-items">
            <a class="menu-item" href="#" id="menu-setting">
              <img class="menu-img" src="../../assets/images/setting.png" alt="dart " />
              <span class="menu-title">ማስተካክያ</span>
            </a>
          </div>
          <!-- ለመዉጣት-->
          <div class="menu-items">
            <a class="menu-item" href="login.html" id="menu-logout">
              <img class="menu-img" src="../../assets/images/logout.png" alt="dart " />
              <span class="menu-title">ለመዉጣት</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- MAIN CONTENT-->
    <div class="main-container dark:bg-gray-800">
      <!-- NAV BAR-->
      <div class="nav-bar dark:bg-gray-800">
        <!-- SEARCH BAR-->
        <div class="nav-search-bar">
          <img class="nav-search-icon" src="../../assets/images/search.png" alt="Search" />
          <input class="nav-search-bar-input" type="text" placeholder="Search..." />
        </div>

        <!-- ICONS AND USER-->
        <div class="nav-icons">
          <div class="nav-round nav-relative">
            <img src="../../assets/images/message.png" alt="Notification" />
            <div class="notification">1</div>
          </div>
          <div class="nav-round bg-gray-200 dark:bg-gray-700 size-4" id="darkModeToggle">
            O
          </div>
          <div class="nav-user">
            <p class="nav-user-name" id="user-name">Loading...</p>
            <p class="nav-user-role">Loading...</p>
          </div>
          <img class="nav-user-profile" id="nav-user-profile" src="../../assets/images/avatar.png" alt="" />
          <input type="file" accept="image/*" hidden id="user-profile">
        </div>
      </div>
      <!-- BREADCRUMB PLACEHOLDER -->
      <div id="breadcrumb-container"></div>
      <!-- MIDDLE CONTAINER -->
      <div class="middle-container-scroll" id="main-container">
        <!-- Content will be loaded here -->
      </div>
    </div>
  </div>
  <script src="../js/shared.js"></script>
  <script type="module" src="../js/user.js"></script>
</body>
</html>