<!DOCTYPE html>
<html>
  <head>
    <title>DEBRE NEGEST - Church Administration - Login</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1></h1>
      <div class="card">
        <h2>Login</h2>
        <form onsubmit="userLogin(event)">
          <input type="text" id="username" placeholder="Username" required />
          <input
            type="password"
            id="password"
            placeholder="Password"
            required
          />
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
    <script>
      const { login } = require("../js/auth.js");
      function userLogin(event) {
        event.preventDefault(); // prevent page reload
        const username = document.getElementById("username").value.trim();
        const password = document.getElementById("password").value.trim();

        if (!username || !password) {
          alert("Please fill in all fields.");
          return;
        }
        
        window.authAPI.login(username, password, (success, role) => {
          if (success) {
            localStorage.setItem("role", role);
            window.location.href = "index.html";
          } else {
            alert("Invalid credentials");
          }
        });
      }
    </script>
  </body>
</html>
