<!DOCTYPE html>
<html>
  <head>
    <title>DEBRE NEGEST - Church Administration - Login</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container center-card">
      <div class="card">
        <h2>Login</h2>
        <form onsubmit="userLogin(event)">
          <input type="text" id="username" placeholder="Username" required />
          <input
            type="password"
            id="password"
            placeholder="Password"
            required
          />
          <p id="error">please enter a valid username and password!</p>
          <button class="btn" type="submit">Login</button>
        </form>
      </div>
    </div>
    <script src="../js/auth.js"></script>
  </body>
</html>
