<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEBRE NEGEST - Senbet Timhirt Bet</title>
  <link rel="stylesheet" href="../css/app.css">
</head>
<body>
  <div class="main-div">
    <!-- SUNDAY SCHOOL MIDDLE LEFT CONTAINER -->
    <div class="main-left-div">
      <div class="user-cards">
        <div class="user-card priest-card" id="tsfetbet">
          <div class="user-header">
            <div class="user-date">2017/18</div>
            <div class="user-more">...</div>
          </div>
          <p class="user-total">3</p>
          <p class="user-title">ጽ/ቤት</p>
        </div>
        <div class="user-card" id="yesewu-hail">
          <div class="user-header">
            <div class="user-date">2017/18</div>
            <div class="user-more">...</div>
          </div>
          <p class="user-total">5</p>
          <p class="user-title">የሰዉ ኃይል</p>
        </div>

        <div class="user-card" id="htsanat-kifl">
          <div class="user-header">
            <div class="user-date">2017/18</div>
            <div class="user-more">...</div>
          </div>
          <p class="user-total">100</p>
          <p class="user-title">ሕጻናት</p>
        </div>
        <div class="user-card" id="mereja-kifl">
          <div class="user-header">
            <div class="user-date">2017/18</div>
            <div class="user-more">...</div>
          </div>
          <p class="user-total">14</p>
          <p class="user-title">መረጃ ክፍል</p>
        </div>
      </div>
    </div>

</body>
</html>