body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f2f5;
  overflow: hidden;
}

.container {
  height: 100vh; /* full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center;     /* horizontal center */
}
h1 {
  margin-bottom: 30px;
  color: #2c3e50;
}

.navbar {
  background-color: #2c3e50;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.card form{
  display: flex;
  flex-direction: column;
}
input,
button {
  padding: 8px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

button {
  background-color: #2c3e50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #34495e;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #2c3e50;
  color: white;
}
